@use './animations';

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: min(100% - 2rem, 785px);
  margin-inline: auto;
}

.fade-enter-active {
  animation: fadeIn 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

.fade-leave-active {
  animation: fadeOut 300ms cubic-bezier(0.3, 0, 0.8, 0.15);
}

.fade-up-enter-active {
  animation: fadeInUp 300ms ease-out;
}

.fade-up-leave-active {
  animation: fadeInDown 300ms ease-in;
}

// * {
//   outline: 1px solid limegreen !important;
// }
